{% extends 'base.html' %}

{% block con %}
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Change the background</h1>
            <p class="col-md-8 fs-4"></p>
            <a href="{% url 'acc:login' %}"><button class="btn btn-primary btn-lg" type="button">LOGIN</button></a>
        </div>
    </div>
{% endblock %}
{% block anycon%}
<div class="container mt-5 mb-5 text-center">
    <h1>로그인이 필요합니다</h1>
    <a href="{%url 'acc:login'%}" class="mt-4 btn btn-dark">로그인</a>

</div>
{%endblock%}
